/* FUENTES */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"), url("../fonts/lato/Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/lato/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg#48e70b8825d557df57af3e4f7d4c31be") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/lato/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.ttf") format("truetype"), url("../fonts/lato/Lato-Light.svg#80d8021909d835b751af094d043ad177") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/lato/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Hairline.woff") format("woff"), url("../fonts/lato/Lato-Hairline.ttf") format("truetype"), url("../fonts/lato/Lato-Hairline.svg#477d11e773543baa2ffc5ab40fca9623") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
/*PRIDI*/
@font-face {
  font-family: 'Pridi';
  src: url("../fonts/pridi/Pridi-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pridi/Pridi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pridi/Pridi-Regular.woff") format("woff"), url("../fonts/pridi/Pridi-Regular.ttf") format("truetype"), url("../fonts/pridi/Pridi-Regular.svg#4b1221af6b5d195812d62cf5da34f409") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Pridi Medium';
  src: url("../fonts/pridi/Pridi-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pridi/Pridi-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pridi/Pridi-Medium.woff") format("woff"), url("../fonts/pridi/Pridi-Medium.ttf") format("truetype"), url("../fonts/pridi/Pridi-Medium.svg#5e31b26e69a0772e6880d28d7c198a39") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Pridi Light';
  src: url("../fonts/pridi/Pridi-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pridi/Pridi-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/pridi/Pridi-Light.woff") format("woff"), url("../fonts/pridi/Pridi-Light.ttf") format("truetype"), url("../fonts/pridi/Pridi-Light.svg#7d7aef4b2244f7e28762a56ed04b6482") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }
body {
  color: #0054e2;
  font-family: 'Lato Regular';
  font-size: 15px;
  margin-top: 170px;
  margin-left: 25px;
  margin-right: 25px; }

h1, h2, h3, h4, h5 {
  font-family: 'Lato'; }

header .logotipo .logo {
  width: 7%;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  float: none; }
header .navbar-header {
  float: none; }
header .navbar-default {
  background-color: #fff;
  border-color: #e7e7e7; }
  header .navbar-default .navbar-nav > li > a {
    color: #7598cc;
    font-weight: 100; }
    header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:active {
      color: #0054e2; }
header .navbar-brand {
  font-size: 24px; }
header .navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  text-align: center;
  background-color: transparent; }
header .navbar-brand-centered h3 {
  margin: 0;
  margin-left: -30px;
  margin-top: -2px; }
header .navbar > .container .navbar-brand-centered,
header .navbar > .container-fluid .navbar-brand-centered {
  margin-left: -80px; }
header .navbar-container {
  padding: 20px 0 20px 0; }
header .navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }
header .navbar-brand.fixed-theme {
  font-size: 18px; }
header .navbar-container.fixed-theme {
  padding: 0; }
header .navbar-brand.fixed-theme,
header .navbar-container.fixed-theme,
header .navbar.navbar-fixed-top.fixed-theme,
header .navbar-brand,
header .navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s; }

section.slideHome span.tag {
  font-family: 'Pridi Medium';
  font-size: 18px; }
section.slideHome .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  color: #0054e2;
  text-shadow: 0 1px 2px transparent;
  text-align: left;
  padding-bottom: 30px; }
  section.slideHome .carousel-caption h1 {
    font-family: 'Lato Light';
    font-size: 5em; }

.imagen {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin: 20px; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

section.newsHome .boxPad h1 {
  font-family: 'Lato Regular'; }
section.newsHome .boxPad h3 {
  font-family: 'Pridi'; }

/* PROJECTS */
section.projectsHome .carousel-caption {
  position: absolute;
  bottom: 60px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  color: #0054e2;
  text-shadow: 0 1px 2px transparent;
  text-align: left;
  padding-bottom: 30px; }
  section.projectsHome .carousel-caption h2 {
    font-size: 3em;
    font-family: 'Lato Regular'; }

/* ABOUT */
section.about h3 {
  padding-top: 20px;
  font-family: 'Lato Regular'; }

/* SERVICES */
section.services .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  color: #0054e2;
  text-shadow: 0 1px 2px transparent;
  text-align: left;
  padding-bottom: 30px; }
  section.services .carousel-caption h1 {
    font-family: 'Lato Light';
    font-size: 5em; }
section.services .boxPad h3 {
  font-family: 'Lato Light';
  font-size: 3em;
  padding-bottom: 15px; }
section.services .boxPad p {
  font-size: 1.5em; }

.frase h3 {
  font-family: 'Lato Regular';
  font-size: 2em;
  padding: 5px 155px; }

.boxPad {
  padding: 0px 30px 0px 30px; }

.box-thiknker {
  text-align: center; }
  .box-thiknker img {
    width: 30%;
    height: auto; }

.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar .navbar-collapse {
  text-align: center;
  padding-bottom: 15px; }

/* NEWS */
a, a:hover, .btn {
  outline: none !important; }

.btn-search {
  background: #FD3A13;
  border-color: #FD3A13;
  color: #fff;
  padding: 7px 10px; }

.btn-search:hover {
  background: #ca1b1b;
  border-color: #ca1b1b; }

section {
  padding: 30px 0;
  float: left;
  width: 100%; }

.card {
  float: left;
  width: 100%; }

.navbar {
  border: medium none;
  float: left;
  margin-bottom: 0px;
  width: 100%;
  border-radius: 0; }

.title-large {
  font-size: 20px;
  margin: 10px 0 5px;
  line-height: 27px;
  color: #141517; }

.title-small {
  color: #141517;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 6px 0 0; }

.title-x-small {
  font-size: 18px;
  margin: 0px; }

.title-large a,
.title-small a,
.title-x-small a {
  color: #0054e2;
  font-family: 'lato';
  font-weight: 600;
  text-align: center;
  font-size: 1.4em; }

.banner-sec {
  float: left;
  width: 100%;
  background: #fff; }

.card-block {
  padding: 0px; }

.card-text {
  margin: 0; }

.text-time {
  color: #0054e2;
  font-weight: 100; }

.banner-sec
.card-img-overlay {
  padding: 10px 35px;
  top: 0px;
  height: auto;
  position: absolute;
  right: 15px;
  background: rgba(255, 255, 255, 0.72);
  left: inherit; }

img {
  width: 100%; }

header {
  float: left;
  width: 100%; }

.small-top {
  border-bottom: 1px solid #2b2b2b;
  float: left;
  width: 100%;
  background: #000; }

.top-head .admin-bar img {
  float: right;
  height: 50px;
  width: 50px;
  margin-left: 18px; }

.top-slider .carousel-indicators {
  bottom: 0; }

.top-slider .carousel-indicators li {
  border: 1px solid #fff; }

.top-slider .carousel-indicators .active {
  background: #fff; }

.side-bar .nav-tabs {
  border-bottom: none; }

.side-bar .nav-tabs .nav-link {
  color: #aeaeae;
  text-transform: uppercase;
  border: none; }

.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover {
  border-bottom: 2px solid #ff0000;
  text-transform: uppercase;
  color: #222; }

.sidebar-tabing .media {
  margin-top: 20px; }

.sidebar-tabing .media-left img {
  width: 120px;
  height: 100px; }

.sidebar-tabing .title-small {
  line-height: 23px;
  margin-top: 5px;
  font-size: 18px; }

.banner-sec {
  float: left;
  width: 100%; }

.banner-sec .news-block {
  margin-bottom: 50px; }
  .banner-sec .news-block .news-conten {
    margin: 10px 0px; }
    .banner-sec .news-block .news-conten .news-title {
      padding: 10px 0px; }
      .banner-sec .news-block .news-conten .news-title h2 a {
        font-family: 'Pridi Medium';
        font-size: 1.2em; }
        .banner-sec .news-block .news-conten .news-title h2 a:hover {
          text-decoration: none; }
        .banner-sec .news-block .news-conten .news-title h2 a h5 {
          font-family: "Lato Light"; }
    .banner-sec .news-block .news-conten .news-des {
      padding: 0px 0px 10px 0px; }
    .banner-sec .news-block .news-conten .time-text {
      padding-bottom: 30px; }

.banner-sec .news-block:last-child {
  margin-bottom: 0px; }

.banner-sec .news-des {
  margin-bottom: 5px; }

.banner-sec .title-large {
  margin: 18px 0 0; }

.banner-sec .time {
  margin-top: 0px;
  font-size: 13px; }

.banner-sec .carousel-control.left, .banner-sec .carousel-control.right {
  background: none; }

.banner-sec .card {
  margin-bottom: 70px; }

.section-01 {
  float: left;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.section-01 .heading-large {
  border-bottom: 2px solid #222;
  color: #222;
  float: left;
  width: 100%;
  padding: 0 0 6px;
  margin: 0 0 18px;
  text-align: left; }

.section-01 .heading-large::before, .section-01 .heading-large::after {
  background: transparent; }

.section-01 .heading-small {
  border-bottom: 2px solid #222;
  color: #222;
  float: left;
  margin: 7px 0 0;
  width: 100%;
  padding-bottom: 10px;
  font-size: 18px; }

.section-01 .title-small {
  margin-bottom: 5px;
  font-size: 17px; }

.section-01 .news-block {
  border-bottom: 1px dashed #000;
  padding-bottom: 30px;
  border: none; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-nav {
  text-align: center; }

.shine_me {
  cursor: pointer;
  margin-bottom: 10px; }

.logofooter {
  width: 110px;
  height: auto;
  margin-top: 8px; }

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7; }

.boxProjects {
  width: 50%;
  height: 50%; }
  .boxProjects img {
    object-fit: cover;
    width: 100%;
    height: auto; }

/* CONTACT */
section.contact h3 {
  font-family: 'Lato Regular';
  margin-left: 40px;
  margin-bottom: 30px; }
section.contact ul li {
  list-style: none; }
  section.contact ul li span {
    font-size: 3em;
    padding-right: 1em;
    padding-bottom: 1em; }
  section.contact ul li a img {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px; }
  section.contact ul li a:hover {
    font-weight: 700;
    text-decoration: none; }
section.contact .iconThinkerContact {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 15px; }

section.projects *, section.projects *:before, section.projects *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
section.projects .grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  section.projects .grid-item {
    min-width: 100px;
    max-width: 100px;
    flex: 1 1 100px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem; }
section.projects .wrapper {
  min-height: 100vh;
  padding: 2rem 0;
  color: #e4e4e8;
  font-family: 'Roboto', sans-serif;
  text-align: center; }
  section.projects .wrapper h1 {
    font-size: 2.125em;
    line-height: 1.5; }
  section.projects .wrapper p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #c4c4c8; }
section.projects .grid-item figure {
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05); }
  section.projects .grid-item figure img {
    display: block;
    max-width: 100%;
    padding: 20px; }

section.projects .modal-content {
  -webkit-box-shadow: 0 5px 15px transparent;
  box-shadow: 0 5px 15px transparent; }
section.projects .modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px solid #999;
  border: 0px solid transparent;
  border-radius: 0px; }

.modal {
  top: 140px; }

.modal-open .modal {
  overflow-x: hidden; }

.modal-dialog {
  margin: 0px auto; }

.modal-backdrop.in {
  opacity: 0; }

.news-title {
  text-align: center;
  padding: 10px 0px; }
  .news-title h2 a {
    font-family: 'Pridi';
    font-size: 1.2em; }
    .news-title h2 a:hover {
      text-decoration: none; }
  .news-title h5 {
    font-family: 'Lato Light';
    text-align: left; }

.text-news {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%; }
  .text-news img {
    width: 60%;
    height: auto;
    margin-left: 190px; }
  .text-news h3 {
    margin-left: 0%;
    display: inline; }

.imgDetalle {
  padding: 0px 150px; }

@media (max-width: 768px) {
  body {
    margin-top: 50px; }

  .navbar-nav {
    text-align: center; } }
@media (max-width: 360px) {
  header .logotipo .logo {
    width: 20%; } }

/*# sourceMappingURL=custom.css.map */
